main {
    padding: 10px;
}

header {

    background-color: rgb(10, 10, 87);
    color: white;
    padding: 10px;
}

section {
    margin: 10px;
}

form {
    margin: 10px;
}

button {
    margin: 10px;
}

.buttonhistory {
    width: 100%;
    background-color: rgb(181, 181, 181);
    border-radius: 5px;
    
}

.bkg {
    background-color: rgb(32, 28, 92);

}


