main {
    padding: 10px;
    /* justify-content: space-between; */
}

header {

    background-color: rgb(10, 10, 87);
    color: white;
    padding: 10px;
}

section {
    margin: 10px;
}

form {
    margin: 10px;
}

button {
    margin: 10px;
}

/* aside {
    width: 600px;
} */

/* section {
    width: 100%;
} */

